services:
  mysql:
    image: mariadb:10.11.2
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: symf6-hands-on
      MYSQL_USER: symfony
      MYSQL_PASSWORD: symfony
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - mysql

  mailer:
    image: axllent/mailpit
    restart: always
    ports:
      - "8025:8025"
      - "1025:1025"

volumes:
  mysql_data:
