{% extends 'base.html.twig' %}

{% block title %}All Messages{% endblock %}

{% block body %}
<div>
  {% if messages|length > 0 %}
    {% for message in messages|slice(0, limit) %}
      <div>
        <a href="{{ path('app_show_one', { id: loop.index0 }) }}">
            {{ message.message }}
        </a>
        <small>{{ message.created }}</small>
      </div>
    {% endfor %}
  {% else %}
    There's nothing here yet!
  {% endif %}
</div>
{% endblock %}
